<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.octopanda.trident.custom.model.User" alias="User" />
		<typeAlias type="com.octopanda.trident.custom.model.Organization" alias="Organization" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/OrganizationMapper.xml" />
	</mappers>
</configuration>